.tabs {
    overflow: hidden;
    background-color: #003D75;
    position: relative;
    width: 100%;
}

.tabs li { 
  /* Makes a horizontal row */
  float: left; 
  font: Arial;
  margin: 0;
  /* So the psueudo elements can be
     abs. positioned inside */
  position: relative; 
  list-style: none;
  list-style-type: none;
  padding: 0;
}
.tabs a { 
  /* Make them block level
     and only as wide as they need */

  float: left; 
  padding: 10px 40px; 
  text-decoration: none;
  
  /* Default colors */ 
  color: black;
  background: #ccc; 
  
  /* Only round the top corners */
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
}
.tabs .active {
  /* Highest, active tab is on top */
  z-index: 3;
}
.tabs .active a { 
  /* Colors when tab is active */
  background: white; 
  color: black; 
}

.tabs li:before, .tabs li:after, 
.tabs li a:before, .tabs li a:after {
  /* All pseudo elements are 
     abs. positioned and on bottom */
  position: relative;
  bottom: 0;
}



.tabs .active:before, .tabs .active:after {
  background: #003D75; 
  
  /* Squares below circles */
  z-index: 1;
}


.tabs .active a:after, .tabs .active a:before {
  background: #ccc;
}
/* First and last tabs have different
   outside color needs */
.tabs li:first-child.active a:before,
.tabs li:last-child.active a:after {
  background: #003D75;
}

ul{
    position: relative;
    float: left;
    list-style: none;
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
    background-color: #003D75;
}

.top-container {
    background-color: #003D75;
    padding: 30px;
    text-align: center;
    color: white;
}